html{
    font-family: Tahoma, sans-serif;
   
    box-sizing: border-box;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

.header{
    height: 120px;
    margin: 4px 0 0 0;
}
.list{
    list-style: none;
    padding-left: 0;
    margin-left: 166px;
    height: 20px;
}
.list_2{
    list-style: none;
    padding-left: 0;
    margin-right: 40px;
    height: 20px;
}
.list_item{
    display: inline-block;
    font-size: 15px;
    color: white;
    margin:  0 8px;

}
li:hover{
    color: skyblue;
}
.header_head{ 
    height: 150px;
    background-color:#ee2624;
    display: flex;
    justify-content: space-between;
}
img{
    display: block;
    width: 75px;
    height: 75px;
    margin-top: 20px;
    float: left;
    position: absolute;

    
}
.logo{
    width: 1100px;
    height: 100px;
    position: relative;
    /* background-color: white; */

}
.link_logo{
    text-decoration: none;
    color: white;
    margin-top: 50px;
}
.logo_link{
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 35px;
    left: 100px;
}
.search{
    width: 842px;
    height: 40px;
    position: absolute;
    left: 250px;
    top: 35px;
    border: solid white;
}
.cart{
    
    position: absolute;
    top: 35px;
    right: -80px;
    color: white;
}
.container{
    background-color: #eeeeee;
    margin-top: 25px;
}
.category-item{
    background-color: white ;
    border-radius: 2px;
}
.category__heading{
    background-color:white;
    font-size: 1.6rem;
    padding: 12px 16px;
    border-bottom: 1px solid black;

}
.category__heading_icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category-list{
    padding-left: 0;
    list-style: none;
  
}

.category-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 12px 16px;
    display: block;
}
.category-item__link:hover{
    color: coral;
}
.btn{
    min-width: 124px;   
    height: 34px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    background-color:#eeeeee;
}
.home{
    background-color:#eeeeee;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter{
    font-size: 1rem;
    color: black;
    margin-right: 16px;
}
.home-filter__paginate{
    display: flex;
    align-items: center;
}
.home-filter_btn{
    margin-right: 15px;
}
.select-input{
    position: relative;
    min-width: 200px;   
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-input:hover .select-input__label-sub-list{
    display: block;
}
.select-input__label{
    font-size: 1rem;
    color: black;
}
.select-input__label-sub-list{
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    border-radius: 2px;
   background-color:#eeeeee;
    list-style: none;
    padding:18px 16px;
    display: none;
}
.select-input_link{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}
.select-input_link:hover{
    color: tomato;
}
.select-input__label_icon{
    font-size: 1rem;
    position: relative;
    top: 2px;
    left: 140px;
}
.home-filter__paginate{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__num{
    font-size: 1rem;
    color: blue;
   
}
.home-filter__next{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    margin-left: 20px;
}
.home-filter__next-page{
    flex: 1;
    background: #eeeeee;
    color: black;
    margin: auto;
    
}
.home-filter__next-page_icon{
    margin-left: 15px;
}
.col-2-4{
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
    float: left;
    margin-top: 12px;
    box-shadow: 0px 0px 1px 0px #AAA;
}
.home__product-item-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}
.home__product-info{
    
    background-color: white;
}
.home__product-name{
    font-weight: bold;
    color: black;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 15px 10px ;
    overflow: hidden;
    display: block;
}
.home__product-price{
    margin-left: 12px;
    color: red  ;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}
.btn_buy{
    margin-top: 10px;
  
   left: -18px;
   float: left;
}
.sale{
    color: black;
    margin-left: 12px;
    font-size: 12px;
    font-style: italic;
}
.home__product {
    display: block;
    background-color: white;
    border-radius: 3px;
    margin: 10px 0;
    box-shadow: initial;
    -webkit-box-shadow: 2px 20px 9px -4px rgb(0 0 0 / 75%);
    position: relative;
    cursor: pointer;
    transition: transform linear 0.3s;
    will-change: transform;
}

.home__product:hover {
    transform: translateY(-2px);
}
ul{
    color: black;
}
li:hover{
    color: tomato;
}
